.adminGroups {
  height: auto;
  background-color: #f4f5f7;
  overflow: hidden;
}

.layout {
  display: flex;
  gap: 20px;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  max-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 67px;
}

.title {
  color: #101828;
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.64px;
}

.subtitle {
  color: #95929a;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.2;
  letter-spacing: -0.4px;
}

.groupGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 991px) {
  .adminCalendar {
    padding-right: 20px;
  }

  .layout {
    flex-direction: column;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .groupGrid {
    grid-template-columns: 1fr;
  }
}
