.searchFilterContainer {
  display: flex;
  gap: 20px;
}

.searchWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 62px;
  padding: 6px 12px;
}

.searchIcon {
  width: 27px;
  height: 27px;
}

.searchInput {
  border: none;
  outline: none;
  font-size: 20px;
  color: #bcbcbc;
  background: transparent;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 18px;
  background-color: #fff;
  border: none;
  border-radius: 58px;
  padding: 6px 17px;
  font-size: 20px;
  color: #101828;
  cursor: pointer;
}

.filterIcon {
  width: 31px;
  height: 31px;
}

.arrowIcon {
  width: 15px;
  height: 15px;
}

@media (max-width: 991px) {
  .searchFilterContainer {
    flex-direction: column;
    width: 100%;
  }

  .searchWrapper,
  .filterButton {
    width: 100%;
  }
}
